.page {
    margin: 0;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 74px;
    width: 100%;
    color: #FFFFFF;
}

.heading_color_black {
    color: #000000;
}

.heading__logo {
    font: 26px "Lora", serif;
}

.heading__nav {
    display: flex;
    justify-content: space-around;
    width: 26%;
    font: 12px/1.86 "Oxygen", sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.heading__nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.heading__nav-link_color_black {
    color: #000000;
}

.basement {
    width: 100%;
    height: 89px;
    background: url(../images/footer_image.png);
    background-size: cover;
}

.basement__blackout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(35, 47, 56, 0.6);
}

.basement__logo {
    color: #FFFFFF;
    font: 400 26px "Lora", serif;
}

.basement__nav {
    display: flex;
    justify-content: space-around;
    width: 26%;
    font: 11px/2.36 "Oxygen", sans-serif;
}

.basement__nav-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}