.page {
    margin: 0;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin: 20.2px 0 0 0;
    width: 100%;
    color: #FFFFFF;
}

.heading_color_black {
    color: #000000;
}

.heading__logo {
    font: 400 26px "Lora", serif;
}

.heading__nav {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap; 
    width: 26%;
    font: 400 12px/1.86 "Oxygen", sans-serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.heading__nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.heading__nav-link_color_black {
    color: #000000;
}

.bottom-block {
    background: url(../images/footer_image.png);
    background-size: cover;
}

.mailing {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 81px 0 90px;
}

.mailing__title {
    font: 400 25px/1.2 "Oxygen", sans-serif;
    color: #FFFFFF;
    margin: 0 auto 20px;
    padding: 0 19.5px 17px;
    border-bottom: 1px solid #FFFFFF;
}

.mailing__form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mailing-form__email {
    max-width: 375px;
    width: 100%;
    padding: 18px 35px;
    font: 400 12px "Roboto", sans-serif;
    color: #817F83;
    background: #FFFFFF;
    border: none;
    border-radius: 3px 0 0 3px;
}

.mailing-form__submit {
    max-width: 125px;
    width: 100%;
    padding: 18px 43px 18px 44px;
    font: 400 12px "Roboto", sans-serif;
    color: #F8F8F8;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.basement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 27.7px 0;
    background: rgba(35, 47, 56, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.basement__logo {
    color: #FFFFFF;
    font: 400 26px "Lora", serif;
}

.basement__nav {
    display: flex;
    justify-content: space-around;
    width: 26%;
    font: 400 11px/2.36 "Oxygen", sans-serif;
}

.basement__nav-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}