.top-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;    
    background: url(../images/top_block_image.jpg);
    background-size: cover;
    color: #FFFFFF;
}

.top-block__title {
    font: 50px/1.02 "Lora", serif;
    letter-spacing: 2px;
    margin: 0;
}

.top-block__description {
    color: rgba(255, 255, 255, 0.63);
    font: 17px/1.18 "Oxygen", sans-serif;
}

.top-block__button {
    cursor: pointer;
    width: 167px;
    height: 44px;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
    color: #FFFFFF;
    font: 13px/1.54 "Oxygen", sans-serif;
}

.tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #FFFFFF;
    font: 14px/1.43 "Lora", serif;
}

.tags__link {
    color: #768088;
    text-decoration: none;
}

.featured-posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #F7F7F7;
    border-radius: 3px;
    margin: 0;
}

.featured-posts__title {
    text-align: center;
    width: 20%;
    border-bottom: 1px solid #DEDEDE;
    color: #2E2E2E;
    font: 20px/1.35 "Oxygen", sans-serif;
}

.feautured-posts__post {
    width: 460px;
    height: 280px;
    color: #FFFFFF;
}

.feautured-posts__post_the-road-ahead {
    background-image: url(../images/posts/the_road_ahead.png);
    background-size: cover;
}

.feautured-posts__post_from-top-down {
    background-image: url(../images/posts/from_top_down.png);
    background-size: cover;
}

.featured-posts__post-title {
    font: 27px/1.11 "Lora", serif;
    margin: 0 4%;
}

.featured-posts__post-description {
    font: 14px/1.79 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 4%;
}

.featured-posts__information {
    width: 100%;
}

.featured-posts__post-author-image {
    width: 26px;
    height: 26px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 0 4%;
}

.featured-posts__post-author {
    font: 12px/2.92 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 2%;
}

.featured-posts__post-date {
    font: 12px/2.92 "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 4%;
}

.most-recent {
    padding: 60px 17% 7px;
    background: #F7F7F7;
}

.most-recent__title {
    text-align: center;
    width: 20%;
    padding: 0 0 16px;
    margin: 0 41% 23px;
    border-bottom: 1px solid #DEDEDE;
    color: #2E2E2E;
    font: 20px/1.35 "Oxygen", sans-serif;
}

.most-recent__post {
    width: 296px;
    height: 291px;
    background: #FFFFFF;
}

.most-recent__post-image {
    width: 100%;
    height: 150px;
}

.most-recent__post-title {
    font: 16px/1.31 "Lora", serif;
    color: #101315;
    margin: 5% 0 0 4%;
}

.most-recent__post-description {
    width: 100%;
    font: 13px/1.46 "Oxygen", sans-serif;
    color: #7A7A7A;
    padding: 2% 0 11% 4%;
}

.most-recent__information {
    width: 100%;
    background: #FCFCFC;
    border-top: 1px solid #EFEFEF;
}

.most-recent__post-author-image {
    width: 26px;
    height: 26px;
    margin: 4% 0 0 4%;
}

.most-recent__post-author {
    font: 11px/3.18 "Oxygen", sans-serif;
    color: #999999;
    margin: 4% 0 0 3%;
}

.most-recent__post-date {
    font: 12px/3.18 "Oxygen", sans-serif;
    color: #999999;
    margin: 4% 4% 0 3%;
}