.page {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background: linear-gradient(0deg, rgba(66, 70, 73, 0.4), rgba(66, 70, 73, 0.4)), url(../img/login_background.jpg);
    background-size: cover;
}

.message {
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin: 310px 0 0 16%;
}

.message__logo {
    display: flex;
    align-items: baseline;
    font: 400 45.5px "Lora", serif;
    color: #FFFFFF;
}

.message__sublogo {
    font: 400 24.5px "Oxygen", sans-serif;
    color: #FFFFFF;
}

.message__description {
    font: 400 17px/1.47 "Oxygen", sans-serif;
    color: #FFFFFF;
}

.logination {
    display: flex;
    flex-flow: column;
    gap: 40px;
    box-sizing: border-box;
    padding: 56px 40px 0;
    margin: 111px 121px 0 0;
    width: 480px;
    height: 560px;
    background: #FFFFFF;
    border-radius: 3px;
}

.logination__title {
    margin: 0;
    font: 400 34px/1.18 "Lora", serif;
    color: #000000;
}

.logination__error-message {
    display: flex;
    align-items: center;
    min-height: 44px;
    box-sizing: border-box;
    padding: 0 0 0 12px;
    width: 100%;
    gap: 12px;
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    transition: min-height 0.3s linear;
}

.logination__error-message_hidden {
    min-height: 0;
    transition: min-height 0.3s linear;
}

.error-message__inscription {
    font: 400 14px/1.43 "Oxygen", sans-serif;
    color: #2E2E2E;
}

.logination__login-form {
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.login-form__form-element {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.login-form__inscription {
    font: 400 12px/1.33 "Oxygen", sans-serif;
    color: #7A7A7A; 
}

.login-form__text-input {
    box-sizing: border-box;
    padding: 8px 4px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #EAEAEA;
    font: 400 16px/1.5 "Oxygen", sans-serif;
    color: #2E2E2E;
}

.login-form__text-input_filled {
    background: #F7F7F7;
    border: none;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.login-form__text-input_error {
    border-bottom: 1px solid #E86961;
}

.login-form__text-input:focus {
    outline: none;
    background: #FFFFFF;
    border-bottom: 2px solid #2E2E2E;
}

.login-form__error {
    font: 400 12px/1.33 "Oxygen", sans-serif;
    color: #E86961;
}

.login-form__password-field {
    display: flex;
    align-items: center;
    position: relative;
}

.login-form__password-eye {
    position: absolute;
    right: 4px;
    z-index: 1;
    cursor: pointer;
}

.login-form__submit-button {
    box-sizing: border-box;
    padding: 12px 24px;
    width: 93px;
    height: 48px;
    background: #DD783F;
    border: none;
    border-radius: 3px;
    font: 400 16px/1.5 "Oxygen", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

.hidden {
    display: none;
}